@import 'libs/fonts';
@import 'libs/bootstrap-reboot.min.scss';
@import 'libs/slick.scss';

@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/manager';
@import 'blocks/scheme';
@import 'blocks/reviews';
@import 'blocks/question';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/pageup';