.advantages {
    min-height: 590px;
    background-color: #f3f3f3;
    padding: 57px 0 20px 0;
    &__wrapper {
        margin-top: 38px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__icon {
        width: 570px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 36px;
    }
    &__img {
        margin-right: 20px;
    }
    &__info {
        h3 {
            margin: 0;
            color: $main-color;
            font-size: 16px;
            font-weight: 700;
        }
    }
    &__descr {
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-top: 10px;
    }

}