.feed-form {
    position: relative;
    margin-top: 71px;
    height: 166px;
    border: 1px solid #898989;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 270px;
        height: 50px;
        margin: 0 5px;
        border-radius: 25px;
        padding: 0 20px;
        color: #101010;
        font-size: 14px;
        font-weight: 300;
    }
    &_question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        input {
            margin-bottom: 8px;
            width: 268px;
            height: 45px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            background-color: #fff;
            border-radius: 21px;
            padding: 0 20px;
            color: #101010;
            font-size: 14px;
            font-weight: 300;
        }
        textarea {
            width: 813px;
            height: 71px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            resize: none;
            padding: 15px 20px;
            color: #616467;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }
    .error {
        border: 1px solid $main-color;
        display: block;
        margin-bottom: 0;
        font-size: 12px;
        
    }
    label.error {
        border: none;
        margin-left: 20px;
        margin-bottom: 0;
    }
}