.header {
    display: flex;
    justify-content: space-between;
    &__logo {
        margin-top: 23px;
        margin-right: 55px;
        max-width: 96px;
        img {
            width: 100%;
        }
    }
    &__menu {
        width: 600px;
        height: 20px;
        margin-top: 60px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-left: -55px;
        padding-left: 0;
    }
    &__item {
        border-right: 1px dotted rgba(251, 251, 251, .4);
        padding-right: 13px;
        &:last-child {
            border-right: none;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        transition: 0.5s all;
        &:hover {
            color: $main-color;
            text-decoration: underline;
        }
    }
    &__contacts {
        margin-top: 44px;
        display: flex;
        justify-content: space-between;
        &__wrapper {
            margin-right: 20px;
            &_call {
                color: #ffffff;
                font-size: 14px;
                font-weight: 300;
                line-height: 16px;
                text-align: right;
            }
            &_phone {
                color: #ffffff;
                font-size: 19px;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
                text-decoration: none;
                transition: 0.5s all;
                &:hover {
                    color: $main-color;
                }
            }
        }
        
    }
}