.manager {
    min-height: 300px;
    background: url(../../img/bg-managers.jpg) center (center/cover) no-repeat;
    padding: 70px 0 75px 0;
    text-align: center;
    &__img {
        width: 105px;
        height: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ffffff;
        border-radius: 100%;
        margin: 0 auto;
    }
    &__title {
        margin-top: 35px;
        color: #ffffff;
        font-size: 27px;
        font-weight: 700;
        line-height: 23px;
    }
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        line-height: 27px;
    }
}