.question {
    min-height: 438px;
    background: url(../../img/bg-question.jpg) center (center/cover) no-repeat;
    padding: 62px 0 79px 0;
    &__wrapper {
        width: 896px;
        height: 297px;
        display: block;
        margin: 0 auto;
    }
    &__header {
        height: 68px;
        background-color: #25333c;
        text-align: center;
        padding-top: 12px;
        h2 {
            color: #ffffff;
            font-size: 19px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        h3 {
            color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    &__form {
        min-height: 229px;
        padding: 20px 40px;
        background: rgba(255, 255, 255, 0.7);
        .error {
            border: 1px solid $main-color;
            display: block;
            margin-bottom: 0;
            font-size: 12px;
            
        }
        label.error {
            border: none;
            margin-left: 20px;
            margin-bottom: 0;
        }
    }
    
}