.reviews {
    padding: 50px 0 65px 0;
    hr {
        width: 150px;
        border: 1px solid $main-color;
        border-bottom: none;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    &__subtitle {
        color: #2e2e2e;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
    }
    &-carusel {
        position: relative;
        width: 600px;
        margin: 0 auto;
        &__item {
            margin-top: 30px;
            z-index: 1;
        }
        img {
            width: 114px;
            height: 114px;
            display: block;
            margin: 0 auto;
        }
        &__title {
            margin-top: 19px;
            color: #3a3a3a;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
        &__descr {
            margin-top: 5px;
            color: #3a3a3a;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            text-align: justify;
            text-align-last: center;
        }
        .slick-prev{
            position: absolute;
            top: 64px;
            left: 180px;
            border: none;
            background-color: #fff;
            z-index: 2;
            img {
                width: 14px;
                height: 46px;
            }
        }
        .slick-next {
            position: absolute;
            top: 64px;
            right: 180px;
            border: none;
            background-color: #fff;
            z-index: 2;
            img {
                width: 14px;
                height: 46px;
            }
        }
    }
}